@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../Img/animacao_carro.gif);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
header{
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .menu_side, .song_side{
    position: relative;
    width: 25%;
    height: 90%;
    border: 1px solid #fff; 
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 2px 0px 2px #d2d5db;
    color: #fff;
}
header .song_side{
    width: 75%;
    background: transparent;
    backdrop-filter: blur(10px);
}
header .master_play{
    width: 100%;
    height: 10%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 8px #d2d5db;
}
header .menu_side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}
header .menu_side .playlist{
    margin: 40px 0px 0px 20px;
}
header .menu_side .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover{
    color: #6300a9;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #6300a9;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color: #fff;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song{
    width: 100%;
    height: 450px;
    border: 1px solid #fff;
    margin-top: 40px;
}
header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition:  .3s linear;
}
header .menu_side .menu_song li:hover{
    background: #631480;

}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li h5 .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}
header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .master_play .wave .wave1{ 
    width: 3px;
    height: 10px;
    margin-left: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #6300a9;
    animation: unset
}
header .master_play .wave .wave1:nth-child(2){ 
    height: 13px;
    /* animation-delay: .4s; */
}
header .master_play .wave .wave1:nth-child(3){ 
    height: 8px;
    /* animation-delay: .8s; */
}
/* Javascript class wave */
header .master_play .active2 .wave1{ 
    animation: wave .5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){ 
    animation-delay: .4s;
}
header .master_play .active2 .wave1:nth-child(3){ 
    animation-delay: .8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master_play img{
    width: 35px;
    height: 35px;
}
header .master_play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 15px;
}
header .master_play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
}
header .master_play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
}
header .master_play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
}
header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2){
    border: 1px solid rgba(105, 105, 170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
    transition: .3s linear;
}
header .master_play span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}
header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgba(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
    position: absolute;
    background: #6300a9;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master_play .bar .dot{
    position: absolute;
    background: #6300a9;
    width: 5px;
    height: 5px;
    top: -1px;
    left: 0%;
    border-radius: 50%;
    transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    border: 1px solid #6300a9;
    width: 15px;
    height: 15px;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px #6300a9;
}
header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgba(105, 105, 170,.1);
}
header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol .vol_bar{
    position: absolute;
    background: #6300a9;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master_play .vol .dot{
    position: absolute;
    background: #6300a9;
    width: 5px;
    height: 5px;
    top: -1px;
    left: 0%;
    border-radius: 50%;
    transition: 1s linear;
}
header .master_play .vol .dot::before{
    content: '';
    position: absolute;
    border: 1px solid #6300a9;
    width: 15px;
    height: 15px;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px #6300a9;
}
header .song_side{
    z-index: 2;
}
header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav ul{
    display: flex;
}
header .song_side nav ul li{ 
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #fff;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side nav ul li:hover{ 
    color: #6300a9;
}
header .song_side nav ul li:nth-child(1){ 
    color: #fff;
}
header .song_side nav ul li a{ 
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    text-decoration: none;
}
header .song_side nav ul li a:hover{ 
    color: #6300a9;
}
header .song_side nav ul li span{ 
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #6300a9;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
header .song_side nav .search{ 
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
}
header .song_side nav .search::before{ 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(105, 105, 170,.1);
    backdrop-filter: blur(10px);
    z-index: -1;
}
header .song_side nav .search .bi{ 
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}
header .song_side nav .search input{ 
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
header .song_side nav .user{ 
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
/* Mudar depois para a Logo */
header .song_side nav .user img{ 
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 5%;
    top: -20px;
    /* box-shadow: 2px 2px 8px #131312; */
    right: -50px;
}













